.hero {
	margin-top: 182px;
	height: 70vh;
	@include flex-row(nowrap,center,center);
	background-image: url(/img/bg/bg-hero.jpg);
	@include bg-cover;
}

@media screen and (max-width: 1024px) {
	// .hero {
	// 	margin-top: 175px;
	// }
}