@mixin hero {
	margin-top: 182px;
	@include flex-row(nowrap,flex-start,center);
	@include bg-cover;

}
	// background-image: url(/img/bg/bg-hero.jpg);

.hero {
	@include hero;
	height: 70vh;
}

.hero-small {
	@include hero;
	height: 350px;
	h1 {
		margin: 0;
		padding: 0;
		@include font-kit(54px,45px, 42px,39px,31px);
	    @include line-height-kit(1.15, 1.20, 1.25, 1.3, 1.35);
	}
}

@media screen and (max-width: 1024px) {
	// .hero {
	// 	margin-top: 175px;
	// }
}