
.logo {
	position: relative;
	display: inline-block;
	flex: 0 0 295px;
	max-width: 295px;
	height: 82px;
	margin: 0;
	background-image: url(/img/logo-text.png); 
	background-size: contain;
	background-position: center right;
	background-repeat: no-repeat;
	transition: 400ms;
	&::before {
		@include pseudo(0,auto,0,0,81px,81px);
		background-image: url(/img/logo-gear.png); 
		background-size: contain;
		background-position: center right;
		background-repeat: no-repeat;
		transition: 400ms;
	}
	&:hover::before {
		transform: rotate(65deg);
		animation: anim-logo 500ms;
		transform-origin: 50% 50%;
	}
	&:hover {
		transform: translateY(-4px);
	}
}

@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{}
@media screen and (max-width: 768px) 	{}
@media screen and (max-width: 568px) 	{}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}

