.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #dbefff;
    z-index: 9999;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #fff url(/img/bg/bg-katakana.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1000;
    }
    &.preloader_hidden {
        transition: 500ms;
        transition-delay: 850ms;
        width: 0;
        #ventil-loader {
          opacity: 0;
        }
    }
    &.preloader_hidden::before {
        transition: 500ms;
        transition-delay: 400ms;
        height: 0;    
    } 
    &.preloader_hidden #ventil-loader {
        transition-delay: 300ms;
        transition: 500ms;
        top: 15%;
        opacity: 0;
        pointer-events: none;
    }
}

#ventil-loader {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10000;
  transition: opacity 600ms;
  transition-delay: 300ms;
  span {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://localhost:3000/img/logo-gear.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: ventil-loader 1.2s infinite;
    transform-origin: 50% 51%;
  }
}

@keyframes ventil-loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
