@mixin form-input {
	display: block;
	position: relative;
	width: 100%;
	border: 0;
	box-shadow: 0;
	background-color: #75acd3;
	color: #fff;
	font-style: italic;
	padding: 0 15px 0 15px;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(255,255,255,.65);
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(255,255,255,.65);
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(255,255,255,.65);
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(255,255,255,.65);
	}
	
}

.signup-form {
	input[type='text'],
	input[type='tel'],
	input[type='mail']{
		@include form-input;
		margin-bottom: 20px;
		height: 35px;
		outline: 0;
	}	
	textarea {
		@include form-input;
		margin-bottom: 0px;
		height: 90px;
		padding-top: 10px;
	}
}

.signup-form__input {
	position: relative;
	&::before,
	&::after { transition: 300ms }
	&::before {
		@include pseudo(auto,50%,-2px,auto,0%,2px);
		background-color: #fff;
	}
	&::after {
		@include pseudo(auto,auto,-2px,50%,0%,2px);
		background-color: #fff;
	}
	&.signup-form__input_active {
		input,textarea {background-color: #518eb9;}
		&::before,
		&::after { width: 50%; }
	}
}

.signup-form__message {
	// display: none;
	padding: 20px;
	margin-bottom: 20px;
	i {
		font-size: 1.4em; 
		transform: translateY(-10px); 
		opacity: 0;
		transition: 0ms;
		transition-delay: 0ms;
	}
	p {margin: 0;font-weight: 600;letter-spacing: .2px;}
	&.signup-form__message_error {
		background-color: #dc7373;
		color: #fff;
		i {
			transform: translateY(2px); 
			opacity: 1;
			transition: 300ms;
			transition-delay: 300ms;
		}
	}
	&.signup-form__message_success {
		background-color: #459e45;
		color: #fff;
		i {
			transform: translateY(2px); 
			opacity: 1;
			transition: 300ms;
			transition-delay: 300ms;
		}
	}
}


@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{
	.signup-form {
		textarea {
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 768px) 	{
}
@media screen and (max-width: 568px) 	{}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}