.accordeon {
	&__label {
		display: inline-block;
		position: relative;
		color: black;
		margin: 0 0 40px 0;
		cursor: pointer;
		i.fa { 
			transition: 450ms; 
			color: $color_main;
			font-size: .9em;
		}
		h2 {
			margin-bottom: 0px;
			color: black;
		}
	}
}

.accordeon.accordeon_active {
	.accordeon__label {
		i.fa {
			transform: rotate(180deg);
		}
	}
}


@media screen and (max-width: 1200px) 	{}
@media screen and (max-width: 992px) 	{}
@media screen and (max-width: 768px) 	{}
@media screen and (max-width: 568px) 	{
	.accordeon__label {
		// p {
		// 	text-decoration: underline;
		// 	text-decoration-style: dotted;
		// }
		&::before {
			display: none;
		}		
	}
}
@media screen and (max-width: 414px) 	{}
@media screen and (max-width: 375px) 	{}