.product-list {
	flex: 0 0 70%;	

	img {
		max-width: 100%;
	}
	.col-12 {margin-bottom: 40px;}
}

@media screen and (max-width: 1200px) {
	.product-list {
		flex: 0 0 60%;
	}
}

@media screen and (max-width: 992px) {
	.product-list {
		flex: 1 1 100%;	
	}
}
